<a href="https://colab.research.google.com/github/happydinnertime/TNFSH-CTF/blob/master/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
s = input()
print(len(s))
print(s[1],s[2:8])
for i in s:
  print(i)
sent = s.split(" ")
print(sent)

TNFSH in TAINAN
15
N FSH in
T
N
F
S
H

i
n

T
A
I
N
A
N
['TNFSH', 'in', 'TAINAN']

In [7]:
lst = []
for i in range(10):
  lst.append(i**2)
print(lst)
print(lst[5])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
25

In [8]:
s = input()
dct = {}
for i in s.split():
  dct[i] = len(i)
print(dct)
dct['d'] = 10000
print(dct)

aaa bbbb cc d
{'aaa': 3, 'bbbb': 4, 'cc': 2, 'd': 1}